.banner {
  width: 100%;
  background-color: var(--white100);
}

.banner__container {
  width: 90%;
  height: 700px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 4rem;
  display: flex;
  justify-content: space-between;
}

.banner__content {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
}

.banner__title {
  font-size: 5rem;
  font-weight: 100;
}

.banner__text {
  font-size: 1.8rem;
  color: var(--blue100);
  line-height: 3rem;
}

.banner__images {
  position: relative;
}

.banner__image-mockups {
  width: 600px;
  position: relative;
  z-index: 2;
}

.banner__image-bg {
  width: 600px;
  z-index: 0;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
}

@media(max-width: 1024px){
  .banner__container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
  }
  .banner__content {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .banner__title {
    text-align: center;
  }
  
  .banner__text {
    text-align: center;
  }

  .banner__images {
    display: block;
  }
  .banner__image-mockups {
    width: 400px;
    position: unset;
    display: block;
  }

  .banner__image-bg {
    display: none;
  }
}
