.cards {
  width: 100%;
  background-color: var(--blue200);
}

.cards__container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.cards__header {
  width: 100%;
  max-width: 600px;
  padding-top: 6rem;
}

.cards__title {
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 2rem;
}

.cards__text {
  font-size: 2rem;
  color: var(--blue100);
  line-height: 3rem;
}

.cards__list {
  margin-top: 5rem;
  display: flex;
  gap: 3rem;
  align-items: flex-start;
}

.cards__item {
  width: 100%;
  max-width: 400px;
  display: flex;
  gap: 3rem;
  flex-direction: column;
}

.cards__item__image {
  width: 100px;
}

.cards__item__title {
  font-size: 2.5rem;
  font-weight: 100;
}

.cards__item__text {
  font-size: 1.9rem;
  line-height: 2.6rem;
  color: var(--blue100);
  text-align: start;
}

@media (max-width: 900px) {
  .cards__header {
    width: 100%;
    max-width: unset;
    text-align: center;
  }

  .cards__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .cards__item {
    align-items: center;
  }
}